<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
 * @package     Intelipost_Pickup
 * @copyright   Copyright (c) 2016 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <router id="standard">
        <route id="intelipost_pickup" frontName="intelipost_pickup">
            <module name="Intelipost_Pickup" />
        </route>
    </router>
</config>


